.sectionHeader{
    font-size: 21px;
    color: #f685a1;
    border-bottom: 1px solid #ffd7e1;
    padding: 10px;
    padding-bottom: 11px;
    border-left: 4px solid #f690bf;
    margin-bottom: 30px;
}

.supplierTableContainer table, th, td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
}

.supplierTable{
    width: 100%;
}

.supplierTable th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
}

.supplierTable td{
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

.supplierCount{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f685a1;
    padding-right: 10px;
}

.supplierListUpdateBtn{
    margin-right: 5px;
    color: rgb(0, 163, 0);
    text-decoration: none;
}

.supplierListUpdateBtn:hover{
    color: rgb(5, 101, 5);
    transition: 0.3s all;
}

.supplierListDeleteBtn{
    color: red;
    text-decoration: none;
}

.supplierListDeleteBtn:hover{
    color: rgb(189, 2, 2);
    transition: 0.3s all;
}

.noSupplier{
    color: red;
}